h1 {
    font-family: "Times New Roman", Times, serif;
} 
table {
  opacity: 1; 
  border:white 8px inset;
}
a:link {
  color: black;
h2 {
    font-family: "Times New Roman", Times, serif;
}

body {
     background: rgb(255, 204, 102)
}
